<h1>Chat window</h1>

<div class="chat-container">
  <ul id="chat">
    <%= render @messages %>
  </ul>

  <%= form_for [@topic, Message.new], remote: true do |f| %>
      <%= f.text_field :body %>
      <%= f.hidden_field :topic_id, value: 1 %>
      <%= f.hidden_field :user_id, value: 1 %>
      <%= f.submit "Send" %>
  <% end %>
</div>
<script>
  update(<%= @topic.id %>) 
</script>