<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @topic.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @topic.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @topic.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
